{{define "title"}}Cheer!{{end}}
{{define "head"}}
	{{CSS "/static/css/bootstrap-select.min.css" "all"}}
	{{CSS "/static/css/jquery.typeahead.min.css" "all"}}
	{{JS "/static/js/jquery.typeahead.min.js"}}
{{end}}
{{define "content"}}
	<div class="page-header">
	<h2>Hello, {{.group.Name}}</h2>
	<p>Please cheer people from your group ({{.group.Group}})</p>
	</div>

	<form method="post" action="{{$.BaseURI}}cheers/submit" class="form-horizontal">
		<input type="text" name="from_id" id="from_id" class="hidden" value="{{.group.ID}}">

	<div id="form-group-container">
	{{range $n := .items}}
	<div class="form-group">
		<input type="text" name="to_id" id="to_id" class="hidden" value="{{.ID}}">
		<div class="col-sm-2">
			<input type="text" name="ircnick" id="ircnick" class="form-control" value="{{.IRC}}" readonly="readonly">
		</div>
		<div class="col-sm-2">
			<input type="text" name="fullname" id="fullname" class="form-control" value="{{.Name}}" readonly="readonly">
		</div>
		<div class="col-sm-1">
			<select class="selectpicker form-control" name="points" id="points">
			  <option>+3</option>
			  <option>+2</option>
			  <option selected="selected">+1</option>
			</select>
		</div>
		<div class="col-sm-7">
			<input type="text" name="message" id="message" class="form-control" placeholder="leave your message to {{.Name}}">
		</div>
	</div>
	{{end}}
	</div>
		<button type="button" id="plusone" class="btn btn" onclick="addinputFields()"/>
		<span class="fa fa-plus" aria-hidden="true"></span> 1
		</button>

		<div style="display; inline-block;" class="pull-right">
			<button type="submit" class="btn btn-success" id="submitbtn">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit
			</button>

			<a title="Back" class="btn btn-default" role="button" href="{{$.ParentURI}}">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
			</a>
		</div>

		<input type="hidden" name="_token" value="{{$.token}}"/>

		<div class="form-group"><p/></div>
	</form>

<script>
var taopts={
	input: '.js-typeahead-group',
	cancelButton: false,
	mustSelectItem: true,
	minLength: 0,
	maxItem: 5,
	searchOnFocus: true,
	order: 'desc',
	emptyTemplate: 'No result for "{{`{{query}}`}}"',
	template: "{{`{{IRC}}`}}<br/><small style='color:#999;'>{{`{{Name}}`}}</small>",
	backdrop: {
		"background-color": "#3879d9",
		"opacity": "0.1",
		"filter": "alpha(opacity=10)"
	},
	source: {
		group: {
			display: ['IRC', 'Name'],
			data: jQuery.parseJSON(atob({{.json}}))
		}
	},
	callback: {
		onInit: function (node) {
			$('#submitbtn').attr('disabled', 'disabled');
		},
		onClickAfter: function (node, a, item, event) {
			var json = $.parseJSON(atob({{.json}}));
			var hasMatch = false;

			for (var i = 0; i < json.length; ++i) {
				var nick = json[i].IRC;
				if (item.IRC === nick) {
					hasMatch = true;
					break;
				}
			}

			if (hasMatch) {
				$('#submitbtn').removeAttr('disabled');
				$('#to_id.taid').val(item.ID);
				$('#fullname.taname').val(item.Name);
			}
		}
	}
};

function addinputFields() {
	var plusone = document.getElementById("plusone");
	plusone.parentNode.removeChild(plusone);

	var objTo = document.getElementById("form-group-container");
	var addmember = document.createElement("div");
	addmember.className = 'form-group';
	addmember.innerHTML =
		'<input type="text" name="to_id" id="to_id" class="hidden taid">' +
		'<div class="col-sm-2">' +
			'<div class="typeahead__container">' +
				'<div class="typeahead__field">' +
					'<span class="typeahead__query">' +
					'<input type="search" name="ircnick" id="ircnick" class="js-typeahead-group" placeholder="nickname" autocomplete="off" style="padding: 2px 6px; height: 26px; font-size: 12px;">' +
					'</span>' +
				'</div>' +
			'</div>' +
		'</div>' +
		'<div class="col-sm-2">' +
		'	<input type="text" name="fullname" id="fullname" class="form-control taname" readonly="readonly">' +
		'</div>' +
		'<div class="col-sm-1">' +
			'<select class="selectpicker form-control" name="points" id="points">' +
				'<option>+3</option>' +
				'<option>+2</option>' +
				'<option selected="selected">+1</option>' +
			'</select>' +
		'</div>' +
		'<div class="col-sm-7">' +
			'<input type="text" name="message" id="message" class="form-control" placeholder="leave your message">' +
		'</div>';
		$('.js-typeahead-group', addmember).typeahead(taopts);
		$('.selectpicker', addmember).selectpicker();
		objTo.appendChild(addmember);
}

// submit by the button only, ignore everything else
$(document).on("keypress", ":input:not([type=submit])", function(event) {
	if (event.keyCode == 13) {
		event.preventDefault();
	}
});
</script>

	{{template "footer" .}}
{{end}}
{{define "foot"}}
	{{JS "/static/js/bootstrap-select.min.js" }}
{{end}}
