{{define "title"}}Your Cheers have been submitted!{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
	<h2>Submitted</h2>
	</div>

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
