{{define "title"}}Cheer{{end}}
{{define "head"}}
	{{CSS "/static/css/jquery.typeahead.min.css" "all"}}
	{{JS "/static/js/jquery.typeahead.min.js"}}
{{end}}
{{define "content"}}

<div class="page-header">
	<!--h1>{{template "title" .}}</h1-->
</div>

<form method="post" action="{{$.BaseURI}}cheers" class="form-horizontal">

	<!-- todo: Fix this Valignment! -->
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>

	<div class="form-group">
		<input {{TEXT "ircnick" .item.IRC .}} id="ircnick" class="hidden">
		<label class="col-sm-offset-2 col-sm-2 control-label" for="nick">Your IRC nickname</label>
		<div class="col-sm-4">
			<div class="typeahead__container">
				<div class="typeahead__field">
					<span class="typeahead__query">
					<input {{TEXT "ircnick" .item.IRC .}} id="nick" class="js-typeahead-group" placeholder="nickname" autocomplete="off" type="search" style="padding: 2px 6px; height: 26px; font-size: 12px;">
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-1">
			<button type="submit" class="btn btn-primary" id="submitbtn">
				<span class="fa fa-angle-right" aria-hidden="true"></span> Sign In
			</button>
		</div>
	</div>

	<input type="hidden" name="_token" value="{{$.token}}">

	<!-- todo: Fix this Valignment! -->
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
	<div class="form-group"><p/></div>
</form>

<script>
$.typeahead({
	input: '.js-typeahead-group',
	cancelButton: false,
	minLength: 0,
	maxItem: 7,
	searchOnFocus: true,
	order: "desc",
	emptyTemplate: 'No result for "{{`{{query}}`}}"',
	template: "{{`{{IRC}}`}} - <small style='color:#999;'>{{`{{Name}}`}}</small>",
	backdrop: {
		"background-color": "#000000",
		"opacity": "0.2",
	},
	source: {
		group: {
			display: 'IRC',
			data: jQuery.parseJSON(atob({{.json}}))
		}
	},
	callback: {
		onInit: function (node) {
			$('#submitbtn').attr('disabled', 'disabled');
		},
		onClickAfter: function (node, a, item, event) {
			var json = $.parseJSON(atob({{.json}}));
			var hasMatch = false;

			for (var i = 0; i < json.length; ++i) {
				var nick = json[i].IRC;
				if (item.IRC === nick) {
					hasMatch = true;
					break;
				}
			}

			if (hasMatch) {
				$('#submitbtn').removeAttr('disabled');
				$('#ircnick').val(item.IRC);
			}
		}
	}
});
</script>

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
