{{define "title"}}Edit Group{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>

	<form method="post" action="{{$.CurrentURI}}?_method=patch" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="name">Group</label>
			<div class="col-sm-10"><input {{TEXT "name" .item.Name .}} type="text" class="form-control" id="name"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="description">Description</label>
			<div class="col-sm-10"><input {{TEXT "description" .item.Description .}} class="form-control" id="description"></div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success" title="Save" />
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
				</button>

				<a title="Back" class="btn btn-default" role="button" href="{{$.GrandparentURI}}">
				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
				</a>
			</div>
		</div>

		<input type="hidden" name="_token" value="{{$.token}}">
	</form>

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
